#transactions {
  margin: 50px;
}

table {
  border-collapse: collapse;
}

.columnHeader {
  background-color: rgba(5, 57, 70, 0.719) !important;
  color: whitesmoke;
}

td {
  width: 100px;
  height: 30px;
}

th {
  height: 40px;
}

tr:nth-child(odd) {
  background: white;
}

tr:nth-child(even) {
  background: #04475033;
}

tbody {
  font-size: 12px;
}
