.list {
  list-style-type: none;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

span {
  text-align: center;
  color: whitesmoke;
}

.statistics {
  width: 300px;
  margin: 50px;
  height: min-content;
}

.title {
  background-color: whitesmoke;
  width: 100%;
  text-align: center;
  margin: 0;
  height: 35px;
}

.item {
  width: 60px;
  height: 70px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item-div {
  display: flex;
  flex-direction: column;
}
